.blank
  %section.subgroups-card{ng-if: "showSubgroupsCard()", aria-labelledby: "subgroups-card__title"}
    %h2#subgroups-card__title.lmo-card-heading{ translate: "group_page.subgroups"}s

    %ul.subgroups-card__list
      %li.subgroups-card__list-item{ng-repeat: "subgroup in group.subgroups() | orderBy: 'name' track by subgroup.id"}
        .subgroups-card__list-item-logo
          %group_avatar{group: "subgroup", size: "small"}
        .subgroups-card__list-item-name
          %a{lmo-href-for: "subgroup"} {{ subgroup.name }}
        .subgroups-card__list-item-description {{ subgroup.description | truncate }}

    .start-proposal-card__start-proposal-button.lmo-no-print
      %a.lmo-btn--featured.lmo-btn--block.lmo-no-print{ng-click: "startSubgroup()", ng-if: "canCreateSubgroups()"}
        %i.fa.fa-lg.fa-plus>
        %span{translate: "common.action.add_subgroup" }
